In [1]:
import _sqlite3
import matplotlib
import pandas as pd
import numpy as np
import spacy
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn import svm, naive_bayes
import sklearn
from sklearn.neural_network import MLPClassifier
import matplotlib.pyplot as plt
from warnings import simplefilter
from sklearn.exceptions import ConvergenceWarning

In [2]:

nlp = spacy.load("de_core_news_md")
cnx = _sqlite3.connect("corpus.sqlite3")

In [3]:
labels = ["ArgumentsUsed","Discriminating","Inappropriate","OffTopic","PersonalStories","PossiblyFeedback","SentimentNegative","SentimentNeutral","SentimentPositive"]

label_map = {y:x for (x,y) in enumerate(labels)}

In [4]:
# Number of labeled posts
pd.read_sql_query("SELECT ID_Post FROM Annotations_consolidated",cnx)

       ID_Post
0           79
1           81
2          132
3          134
4          139
...        ...
40562  1006960
40563  1006960
40564  1006960
40565  1010868
40566  1010997

[40567 rows x 1 columns]

In [5]:
# Number of posts in total
pd.read_sql_query("SELECT ID_Post FROM Posts",cnx)

         ID_Post
0              1
1              2
2              3
3              4
4              5
...          ...
1011768  1011769
1011769  1011770
1011770  1011771
1011771  1011772
1011772  1011773

[1011773 rows x 1 columns]

In [4]:
# Number of posts having all 9 labels set

comments_df = pd.read_sql_query("Select ID_Post, Headline, Body FROM Posts",cnx)
labels_df = pd.read_sql_query("SELECT * From Annotations_consolidated",cnx)

labels = ["ArgumentsUsed", "Discriminating", "Inappropriate", "OffTopic", "PersonalStories", "PossiblyFeedback",
          "SentimentNegative", "SentimentNeutral", "SentimentPositive"]

label_map = {y: x for (x, y) in enumerate(labels)}

index_values_of_9_label_posts = labels_df.value_counts("ID_Post")[labels_df.value_counts("ID_Post").isin([9])].index
len(index_values_of_9_label_posts)

3599

In [8]:
#Nächste 3 Zellen: Sentiments sind als einziges disjunkt.
pd.read_sql_query("SELECT ID_Post FROM Annotations_consolidated WHERE Category = 'SentimentPositive' AND Value=1 "
"INTERSECT "
"SELECT ID_Post FROM Annotations_consolidated WHERE Category = 'SentimentNeutral' AND Value=1  ",cnx)

Empty DataFrame
Columns: [ID_Post]
Index: []

In [9]:
pd.read_sql_query("SELECT ID_Post FROM Annotations_consolidated WHERE Category = 'SentimentPositive' AND Value=1 "
                  "INTERSECT "
                  "SELECT ID_Post FROM Annotations_consolidated WHERE Category = 'SentimentNegative' AND Value=1  ",cnx)

Empty DataFrame
Columns: [ID_Post]
Index: []

In [10]:
pd.read_sql_query("SELECT ID_Post FROM Annotations_consolidated WHERE Category = 'SentimentNeutral' AND Value=1 "
                  "INTERSECT "
                  "SELECT ID_Post FROM Annotations_consolidated WHERE Category = 'SentimentNegative' AND Value=1  ",cnx)

Empty DataFrame
Columns: [ID_Post]
Index: []